<section class="mt-2 mb-16 pt-20 pb-7 dark:bg-[#161A27] dark:mt-0 dark:mb-0" id="contact">
  <div class="text-center -mb-10 pb-4">
    <h2 class=" font-bold dark:text-white ">Contact Me</h2>
    <span class="text-secondary dark:text-gray-400">Get in touch</span>
  </div>



  <div class=" flex justify-evenly p-20 content_container">
    <div class="flex flex-col -mt-4 content_left ">
      <div class=" ms-8 card_1">
        <h3 class="text-center dark:text-white">Send to me</h3>
        <div class="service_card dark:bg-main  mx-auto p-8 py-6 text-center rounded-lg shadow-lg  transition-all duration-500 ease-in-out mt-5">
          <div class="mt-1 text-center mb-2.5">
            <i class="bx bx-mail-send text-main dark:text-white services_icon"></i>
            <h5 class=" text-center">Email</h5>
            <span class="text-secondary mail dark:text-gray-400">mohamed.mahmoud14532&#64;gmail.com</span>
          </div>
          <a href="mailto:mohamed.mahmoud14532&#64;gmail.com">
            <span
            class="cursor-pointer text-main group  transition-all duration-500 ease-in-out dark:text-white ">
            Write to me
            <i class="uil uil-arrow-right text-main group-hover:ms-[4px] transition-all duration-200 ease-in-out absolute dark:text-white"></i>
          </span>
          </a>
        </div>
      </div>
      <div class="  ms-8 card_2">
        <div class="service_card   mx-auto p-8 py-6 text-center rounded-lg shadow-lg  transition-all duration-500 ease-in-out mt-8 dark:bg-main">
          <div class="mt-1 text-center mb-2.5">
            <i class="uil uil-whatsapp services_icon text-main dark:text-white"></i>
            <h5 class=" text-center ">Whatsapp</h5>
            <span class="text-secondary number dark:text-gray-400">+201129566121</span>
          </div>
          <a href="https://wa.me/201129566121" target="_blank">
            <span
            class="cursor-pointer text-main group  transition-all duration-500 ease-in-out dark:text-white ">
            Write to me
            <i class="uil uil-arrow-right text-main group-hover:ms-[4px] transition-all duration-200 ease-in-out absolute dark:text-white "></i>
          </span>
          </a>
        </div>
      </div>
    </div>


    <div class=" py-5 content_right">
        <h3 class="-mt-9 -mb-3 dark:text-white">Write to me your message</h3>
        <!-- <form action="https://formsubmit.co/mohamed.mahmoud14532@gmail.com" method="POST" class="">
          <div class="flex flex-col ">
            <div class="flex flex-col">
              <input type="text" id="name" class=" border  border-secondary text-black text-sm rounded-lg my-4 focus:border-main block w-full p-2"
                placeholder="Enter your name" required>
              <input type="email" id="email" class=" border border-secondary text-black text-sm rounded-lg mb-4 focus:border-main block w-full p-2"
                placeholder="Enter your email" required>
            </div>
            <textarea id="message" rows="6" class=" border border-secondary text-black text-sm rounded-lg  focus:border-main block w-full p-2.5" placeholder="Write Your message"></textarea>
            <div class="mt-2">
              <button type="submit" class="main-btn cursor-pointer rounded-xl ">Send message<i class="uil uil-message text-lg m-2"></i></button>
            </div>
          </div>
        </form> -->
        <form action="https://formsubmit.co/mohamed.mahmoud14532@gmail.com" method="POST" class="">
          <div class="flex flex-col">
            <div class="flex flex-col">
              <label for="name" class="label1 text-[#333] bg-white dark:bg-[#161A27] dark:text-main">Name</label>
              <input type="text" id="name" class="border border-secondary text-black dark:text-white text-sm rounded-lg my-3 focus:border-main block w-full p-5" placeholder="Enter your name" required>
              <label for="email" class="label2 text-[#333] bg-white dark:bg-[#161A27]  dark:text-main">Email</label>
              <input type="email" id="email" class="border border-secondary text-black dark:text-white  text-sm rounded-lg mb-3 focus:border-main block w-full p-4" placeholder="Enter your email" required>
            </div>
            <label for="message" class="label3 text-[#333] bg-white dark:bg-[#161A27] dark:text-main">Message</label>
            <textarea id="message" rows="6" class="border border-secondary text-black dark:text-white  text-sm rounded-lg focus:border-main block w-full p-2.5" placeholder="Write your message"></textarea>
            <div class="mt-2">
              <button type="submit" class="main-btn cursor-pointer rounded-xl ">Send message<i class="uil uil-message text-lg m-2"></i></button>
            </div>
          </div>
        </form>

    </div>



  </div>

</section>
