<section class="mt-5 pt-20 mb-20 px-29" id="portfolio">
  <div class="text-center">
    <h2 class="font-bold">Portfolio</h2>
    <span class="text-secondary">Most recent works</span>
  </div>
  <div class="grid grid-cols-3  p-5 mt-5 gap-4 px-30 portfolio_container ">
    <div class=" card w-full bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
        <img src="img/FreshCart.png" alt="FreshCart E-commerce Website" class="w-full h-auto mt-3 rounded-lg shadow-lg   transition-all duration-300">
        <h3 class="text-center m-2 text-xl">E-commerce Website</h3>
        <p class="text-center text-sm pb-4 text-gray-500">FreshCart is a fully functional website built with Angular and Tailwind CSS it offers a seamless shopping experience</p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg transition-all duration-500 ease-in-out" href="">Demo</a> -->
    </div>
    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
      <img src="img/Recipe.png" alt="Recipe Website" class="w-full recipe_img h-[190px] mt-3 rounded-lg shadow-lg   transition-all duration-300">
      <h3 class="text-center m-2 text-xl">Recipe website</h3>
      <p class="text-center text-sm pb-4 text-gray-500">is an interactive website that allows users to explore a variety of meal recipes and also offers food descriptions and videos </p>
      <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="https://recipe-rho-ten.vercel.app/#/meals" target="_blank">Demo</a> -->
    </div>
    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
        <img src="img/Mealify.png" alt="Mealify Website" class="mealify_img w-full h-[190px] mt-3 rounded-lg shadow-lg   transition-all duration-300">
        <h3 class="text-center m-2 text-xl">Mealify</h3>
        <p class="text-center text-sm pb-4 text-gray-500">Mealify is a web application designed to help users explore and manage meal recipes</p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="https://mohamedmahmoud01110.github.io/Mealify-website/" target="_blank">Demo</a> -->
    </div>
    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
        <img src="img/TextSummarization.png" alt="Text Summarization Website" class="w-full h-auto mt-3 rounded-lg shadow-lg  transition-all duration-300">
        <h3 class="text-center m-2 text-xl">Text Summarization website</h3>
        <p class="text-center  text-sm pb-4 text-gray-500">is a powerful tool designed to help users quickly condense lengthy and It also offers quizzes based on the summarized content </p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="">Demo</a> -->
    </div>
    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
        <img src="img/Weather.png" alt="Text Summarization" class="w-full h-auto mt-3 rounded-lg shadow-lg  transition-all duration-300">
        <h3 class="text-center m-2 text-xl">Weather App</h3>
        <p class="text-center text-sm pb-4 text-gray-500">is a simple and interactive web application that allows users to get real-time weather updates for any city using an API</p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="https://mohamedmahmoud01110.github.io/Weather-App/" target="_blank">Demo</a> -->
    </div>
  </div>
</section>
