<section class="mt-5 pt-20 mb-20 px-29 dark:bg-[#161A27] dark:mt-0 dark:mb-0" id="portfolio">
  <div class="text-center">
    <h2 class="font-bold dark:text-white">Portfolio</h2>
    <span class="text-secondary dark:text-gray-400">Most recent works</span>
  </div>
  <div class="grid grid-cols-3  p-5 mt-5 gap-4 px-30 portfolio_container">

    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 dark:bg-main">
        <img src="img/Baytaura.png" alt="BAYTAURA Platform" class="mealify_img w-full h-[150px] mt-3 rounded-lg shadow-lg   transition-all duration-300">
        <h3 class="text-center m-2 text-xl  dark:text-[#161A27]">BAYTAURA</h3>
        <p class="text-center text-sm pb-4 text-gray-500 dark:text-gray-400">is a smart Real Estate Management System that enables users to explore, filter, and manage property listings easily. The platform supports multiple user roles and includes AI-powered recommendations and an integrated chatbot for a seamless property-searching experience.</p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="https://mohamedmahmoud01110.github.io/Mealify-website/" target="_blank">Demo</a> -->
    </div>
    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 dark:bg-main">
        <img src="img/SumGenQ.png" alt="Text Summarization Website" class="w-full h-auto mt-3 rounded-lg shadow-lg  transition-all duration-300">
        <h3 class="text-center m-2 text-xl  dark:text-[#161A27]">SumGenQ – Smart Educational Assistant</h3>
        <p class="text-center  text-sm pb-4 text-gray-500 dark:text-gray-400">is an AI-powered educational platform that helps users summarize content, ask questions, generate quizzes, and convert text into audio. The system supports text, document, and URL processing and uses advanced NLP models to deliver accurate summaries and interactive learning tools.</p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="">Demo</a> -->
    </div>
    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 dark:bg-main">
        <img src="img/Weather.png" alt="Text Summarization" class="w-full h-auto mt-3 rounded-lg shadow-lg  transition-all duration-300">
        <h3 class="text-center m-2 text-xl  dark:text-[#161A27]">Weather App</h3>
        <p class="text-center text-sm pb-4 text-gray-500 dark:text-gray-400">is a simple and interactive web application that allows users to get real-time weather updates for any city using an external API. The app provides clear temperature details, weather conditions, humidity, and wind speed, all displayed through a clean and user-friendly interface.</p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="https://mohamedmahmoud01110.github.io/Weather-App/" target="_blank">Demo</a> -->
    </div>
     <div class=" card w-full bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 dark:bg-main">
        <img src="img/FreshCart.png" alt="FreshCart E-commerce Website" class="w-full h-auto mt-3 rounded-lg shadow-lg   transition-all duration-300">
        <h3 class="text-center m-2 text-xl dark:text-[#161A27]">E-commerce Website</h3>
        <p class="text-center text-sm pb-4 text-gray-500 dark:text-gray-400">FreshCart is a fully functional website built with Angular and Tailwind CSS it offers a seamless shopping experience</p>
        <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg transition-all duration-500 ease-in-out" href="">Demo</a> -->
    </div>
    <div class="card bg-white p-5 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 dark:bg-main">
      <img src="img/Recipe.png" alt="Recipe Website" class="w-full recipe_img h-[190px] mt-3 rounded-lg shadow-lg   transition-all duration-300">
      <h3 class="text-center m-2 text-xl  dark:text-[#161A27]">Recipe website</h3>
      <p class="text-center text-sm pb-4 text-gray-500 dark:text-gray-400">is an interactive website that allows users to explore a variety of meal recipes and also offers food descriptions and videos </p>
      <!-- <a class="main-btn p-2.5 bg-btn hover:bg-btn-hvr rounded-lg  transition-all duration-500 ease-in-out" href="https://recipe-rho-ten.vercel.app/#/meals" target="_blank">Demo</a> -->
    </div>
  </div>
</section>
