<section class="mt-5 px-15 pt-20" id="about">
  <div class="text-center content ">
    <h2 class=" font-bold">About Me</h2>
  <span class="text-secondary"> My Introduction</span>
  </div>
  <div class=" py-10 px-30 about_container">
    <div class=" grid grid-cols-1 lg:grid-cols-2 ">
      <div class="flex justify-center ">
        <img src="img/e.png" alt="Profile Picture" class="rounded w-96  about_img">
      </div>
      <div class="text-center m-auto  md:w-full overflow-hidden box_container">
        <div class=" about_box flex justify-start items-center  gap-5 me-36 md:mt-4 md:ms-25  lg:ms-0  sm:mt-4 sm:ms-15">
          <div class="border border-secondary shadow-xl bg-gray-100 box box1">
            <i class="uil uil-award-alt"></i>
            <h3 class="">Experience</h3>
            <span class="text-secondary">1 year Experience</span>
          </div>
          <div class="border border-secondary  shadow-xl bg-gray-100 box box2">
            <i class="fa-solid fa-briefcase mt-2"></i>
            <h3>Completed</h3>
            <span class="text-secondary">Many Projects</span>
          </div>
          <div class="border border-secondary  shadow-xl bg-gray-100 box box3">
            <i class='bx bx-support mt-1'></i>
            <h3>Support</h3>
            <span class="text-secondary">Online 24/7</span>
          </div>
        </div>
        <div class="flex items-start w-full  about_content">
          <p class="text-secondary mt-5 mb-4  m-0 about_text ">
            "I'm a Frontend developer specializing in Angular.
            I'm passionate about building web applications and continuously learning to improve my skills."
          </p>
        </div>
        <div class=" flex items-start mt-3 about_button">
          <a class="main-btn br  transition-all duration-500 ease-in-out m-0 cursor-pointer" href="/pdfs/Mohamed Mahmoud CV.pdf" download="Mohamed Mahmoud CV.pdf" >
            Download CV
            <i class="fa-solid fa-file ms-1"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

</section>



















