h2{
  font-size: 2.25rem;
}
span{
  font-size: .875rem;
}
i{
  font-size: 1.4rem;
}
.br{
  border-radius: 0.5rem;
}
a i{
  font-size: 1rem;

}
.mobNav{
  z-index: 1000;
}
.box{
  padding: 10px 14px;
  border-radius: 12px;


}
.box h3{
  font-size: 15px;
}
.box span{
  font-size: 12px;
}
.about_text{
  text-align: initial;
  width: 55%;
}

@media all and ((min-width: 500px ) and (max-width: 1025px)) {
  .about_box{
    width: 100%;
    margin: 0 ;
    padding: 0;
    margin-top: 14px;
  }
  .about_box  h3{
    font-size: 12px;
  }
  .about_box span{
    font-size: 9px;
  }
  .about_box i{
    font-size: 1.2rem;
  }
  .box{
    width: 120px;
  }
  .box_container{
    width: 100%;
    padding: 0;
    margin: auto;
    gap: 0;
    overflow: auto;
  }
  .about_container{
    width: 100%;
    padding: 0;
  }
  .about_content{
    width: 100%;
    padding: 0;
  }
  .about_text{
    width: 100%;
    padding: 0;
  }
  .about_box{
    justify-content:center
  }

}

@media all and ((min-width: 1025px ) and (max-width: 1400px)) {

  .about_box{
    width: 100%;
  }
  .about_box  h3{
    font-size: 12px;
  }
  .about_box span{
    font-size: 9px;
  }
  .about_box i{
    font-size: 1.2rem;
  }
  .box_container{
    margin-left: 12px;
  }

  .about_text{
  width: 100%;

}}
@media all and ((min-width: 1401px ) and (max-width: 1430px)) {

  .about_box  h3{
    font-size: 12px;

  }
  .about_box span{
    font-size: 9px;
  }

}
@media all and ((min-width: 300px ) and (max-width: 600px)){

  #about{
    padding: 0;
    padding-top: 80px;
    margin-top: 0px;
  }
  .about_text{
    text-align: center;
    display: inline;

  }
  .about_content{
    margin: 0;
    width: 100%;
    padding-left: 15px;
    display: inline;

  }
  .about_box{
    width: 100%;
    margin: 0;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img{
    width: 90%;
  }
  .box_container{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    padding-bottom: 15px;
  }
  .about_container{
    margin: 0;
    padding: 0;
    margin-top: 20px;

  }
  .about_button{
    align-items: center;
    justify-content: center;
  }
  .box{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 120px;

  }
  .box2{
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .box2 i{
    margin-top: -5px;
  }
  .box3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .box3 i {
    margin-top: -6px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


}

@media all and ((min-width: 500px) and (max-width: 600px)) {

  .box1{
    padding-top: 17px;
    padding-bottom: 17px;

  }
}
@media all and ((min-width: 350px ) and (max-width: 385px)){
  .about_box{
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .box3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media all and ((min-width: 360px ) and (max-width: 370px)){
  .box3{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .about_box {
    gap: 6px;
  }
  .about_container{
    padding-left: 10px;
    padding-right: 10px;
  }
  img{
    width: 100%;
  }

}


@media all and ((min-width: 500px ) and (max-width: 1100px)) {

  .about_button{
    width: 100%;
  }
  #about{
    margin-top: 10px;
    padding-top: 50px;
  }
  .content {
    margin-bottom: 14px;
  }

}
@media all and ((min-width: 500px ) and (max-width: 1020px)) {
  .about_button{
    width: 100%;
    display: block;
    margin: auto;
  }

}

