a{
  font-size: .875rem;
  font-weight: 500;
}
header{

  box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 4px;
}
.theme_btn{
  font-size: clamp(16px, 3vw, 21px);
}


@media all and (max-width: 768px) {
  header{
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }


}
@media all and (min-width: 768px) and (max-width: 1224px) {
  header{
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  nav{
    margin: 0px;
  }
  .navMenu{
    margin-right: 15px;
  }


}

@media all and (min-width: 500px) and (max-width: 650px) {
  .theme_btn{
    font-size: larger;
    position: absolute;
    right: 3.9rem;
  }
}
@media all and (min-width: 650px) and (max-width: 700px) {

  .theme_btn{
    font-size: larger;
    position: absolute;
    right: 5rem;

  }
}
@media all and (min-width: 700px) and (max-width: 750px) {
  .theme_btn{
    font-size: larger;
    position: absolute;
    right: 7rem;

  }
}
@media all and (min-width: 750px)  and (max-width: 767.5px) {
  .theme_btn{
    font-size: larger;
    position: absolute;
  right: 7rem;
  }
}

@media all and (max-width: 390px) {
  .theme_btn{
    margin-left: 140px !important;

  }
}

  @media all and (min-width:390px) and (max-width: 450px) {
    .theme_btn{
      margin-left: 170px !important;

    }
  }
