<section class="-mt-15 px-15 pt-20 mb-20 " id="services">
  <div class="text-center">
    <h2 class="font-bold">Certificates</h2>
    <span class="text-secondary">By Passion for Tech</span>
  </div>
  <div>
    <!-- grid cols-3 div ,  card w-[90%] ,img w-full-->
    <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-2  gap-2 mt-12 p-8 mx-30 px-26 certificate_container">
      <div class=" card bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300  w-[80%] m-auto card1">
        <img src="img/HCIA Certificate.png" class="w-[90%] p-2 h-48 object-cover m-auto" alt="HCIA Certificate">
        <div class="p-4 px-6">
          <h5 class="text-lg font-semibold text-gray-800">HCIA Certificate </h5>
          <p class="text-gray-600 text-sm mt-1">AI Training at Huawei Training Course</p>
          <p class="text-gray-600 text-sm mt-1">AUG 2024</p>
          <p class="text-gray-600 text-sm mt-1">By Huawei</p>
          <a href="https://drive.google.com/file/d/1-b8Q9PFhK5s9uZHgw5fjo8H21uX2xgL-/view?usp=sharing"  target="_blank" class="mt-3 inline-block bg-btn text-white px-4 py-2 rounded-lg text-sm font-medium hover:bg-btn-hvr transition duration-300">
            View
          </a>
        </div>
      </div>
      <div class=" card bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300  w-[80%] m-auto">
        <img src="img/Route Certificate.png" class="w-[85%] p-4 h-48 object-cover m-auto" alt="Route Certificate">
        <div class="p-4 px-6">
          <h5 class="text-lg font-semibold text-gray-800">Front-End Certificate </h5>
          <p class="text-gray-600 text-sm mt-1">Front-End Web Development Course</p>
          <p class="text-gray-600 text-sm mt-1">MAR 2024</p>
          <p class="text-gray-600 text-sm mt-1">By Route Academy</p>
          <a href="https://drive.google.com/file/d/17KxQIbt-KD14YQYLq2XfXtp1sY5uFdFd/view?usp=sharing"  target="_blank" class="mt-3 inline-block bg-btn text-white px-4 py-2 rounded-lg text-sm font-medium hover:bg-btn-hvr transition duration-300">
            View
          </a>
        </div>
      </div>
      <!-- <div class=" card bg-white rounded-lg shadow-lg overflow-hidden transform transition duration-300  w-[90%] m-auto">
        <img src="img/Route Certificate.png" class="w-full p-4 h-48 object-cover m-auto" alt="Route Certificate">
        <div class="p-4 px-6">
          <h5 class="text-lg font-semibold text-gray-800">Front-End Certificate </h5>
          <p class="text-gray-600 text-sm mt-1">Front-End Web Development Course</p>
          <p class="text-gray-600 text-sm mt-1">MAR 2024</p>
          <p class="text-gray-600 text-sm mt-1">By Route Academy</p>
          <a href="https://drive.google.com/file/d/17KxQIbt-KD14YQYLq2XfXtp1sY5uFdFd/view?usp=sharing"  target="_blank" class="mt-3 inline-block bg-btn text-white px-4 py-2 rounded-lg text-sm font-medium hover:bg-btn-hvr transition duration-300">
            View
          </a>
        </div>
      </div> -->
    </div>

  </div>
</section>
