
<section id="home" class=" h-screen flex  justify-center items-center text-center mt-5 -mb-4 dark:bg-[#161A27] ">
  <div class="container  grid grid-cols-4 gap-6 p-20 ">
    <!-- Social icons -->
    <div class="flex flex-col  justify-center  items-center gap-y-5 ms-24 social_icons">
      <a href="https://www.linkedin.com/in/mohamed-mahmoud-233421263/" target="_blank"><i class="fa-brands fa-linkedin text-main hover:-translate-y-1 hover:transition-all duration-300"></i></a>
      <a href="https://github.com/MohamedMahmoud01110" target="_blank"><i class="fa-brands fa-github text-main hover:-translate-y-1 hover:transition-all duration-300"></i></a>
      <a href="https://www.instagram.com/mohamed_mahmoud0110/" target="_blank"><i class="fa-brands fa-instagram text-main hover:-translate-y-1 hover:transition-all duration-300"></i></a>
    </div>

    <div class="flex justify-evenly items-center col-span-2 home_content">
      <!-- Hero Text -->
      <div class="text-center home_text w-full  md:text-left ">
        <h1 class="text-3xl font-bold text-black dark:text-white">Hi!<span class="wave">👋</span>, I'm Mohamed</h1>
        <h3 class="text-xl font-semibold text-gray-600 dark:text-gray-400 mt-2">
          and I'm <span class="text-main font-bold">Front End Developer</span>
        </h3>
        <p class="text-gray-500 dark:text-gray-400 mt-4">
          <!-- High level experience in web design and development knowledge, producing quality work. -->
          <!-- I build modern, responsive, and high-performance websites using the latest web technologies.
          With a strong focus on efficiency and seamless user interactions, I strive to create fast,
          engaging, and dynamic web experiences. -->
          I build fast, responsive, and high-performance websites, focusing on efficiency and seamless user interactions.
        </p>
        <a href="#contact"class=" br main-btn  transition-all duration-500 ease-in-out">
          Contact Me<i class="uil uil-message text-2xl text-white m-2"></i>
        </a>
      </div>
      <!-- Profile Image -->
      <div class="relative home_img  h-66 md:w-full  ms-8">
        <svg class="absolute inset-0 w-full h-full " viewBox="0 0 200  182" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0" mask-type="alpha">
            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
              130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
              97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
              0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
          </mask>
          <g mask="url(#mask0)">
            <path fill="var(--color-main)" d="M190.312 36.4879C206.582 62.1187 201.309 102.826
            182.328 134.186C163.346 165.547 130.807 187.559 100.226 186.353C69.6454 185.297
            41.0228 161.023 21.7403 129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279
            C20.9871 10.1032 59.7028 -0.149132 97.9666 0.00163737C136.23 0.303176
            174.193 10.857 190.312 36.4879Z" />
            <image class="w-full h-full object-cover  scale-170" x="-37" y="-40" href="img/e-Photoroom.png" />
            <!-- <image class="w-full h-full object-cover scale-150" x="-20" y="-26" href="img/e-photoroom.png" /> -->

          </g>
        </svg>
      </div>
    </div>

  </div>
  <!-- Scroll Down Button -->
  <div id="scroll" class="absolute scroll_part bottom-5 -left-5">
    <a href="#about" class="flex justify-start items-center ms-110  text-gray-700 hover:translate-y-1 transition-all duration-300 ">
      <i class="uil uil-mouse-alt ma text-main"></i>
      <span class="dark:text-white">Scroll down</span>
      <i class="uil uil-arrow-down text-main"></i>
    </a>
  </div>
</section>
