@keyframes slide-in {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}
h2{
    font-size: 2.25rem;
}
i{
    font-size: 1.5rem;
}
.education_content i{
    font-size: 1.1rem;

}

@media all and (max-width: 768px) {
  h3 {
    font-size: 0.88rem;
  }
  p{
    font-size: 0.8rem;
  }
  p.date{
    font-size: 0.77rem;
  }
  p.date i{
    font-size: 0.88rem;
  }
  .education_content .ball{
    font-size: 0.8rem;
  }
  .education{
    display: block;
  }
  .ball{
    margin-top: -1px;
    width: 22px;
    height: 22px;
  }
}
