h2 {
  font-size: 2.25rem;
}
span {
  font-size: 0.875rem;
}

.service_card span i {
  font-size: 1.1rem;
}

.services_icon {
  font-size: 2.2rem;
}

.services__modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
}
.services__modal h3 {
  font-size: 1.1rem;
}
.services__modal p {
  font-size: 0.9rem;
}
.services__modal i {
  font-size: 1.2rem;
}
.services__modal_content i {
  font-size: 1.5rem;
}
.opacity-0 {
  opacity: 0;
  visibility: hidden;
}

.opacity-100 {
  opacity: 1;
  visibility: visible;
}

.services_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.service_card {
  width: 30%;
}
@media all and (min-width: 950px) and (max-width: 1150px) {
  .services__modal_content {
    width: 50%;
  }
}
@media all and (min-width: 750px) and (max-width: 950px) {
  .services_container {
    flex-direction: column;
  }
  .service_card {
    width: 50%;
  }
  .services__modal_content {
    width: 50%;
  }
}

@media all and ((min-width: 550px ) and (max-width: 750px)) {
  .services_container {
    width: 100%;
  }
  .service_card {
    width: 70%;
  }
  .services_container {
    flex-direction: column;
  }

  .services__modal_content {
    width: 75%;
  }
}
@media all and ((min-width: 300px ) and (max-width: 550px)) {
  .services_container {
    width: 100%;
  }
  .service_card {
    width: 85%;
  }
  .services_container {
    flex-direction: column;
  }

  .services__modal_content {
    width: 85%;
  }
}
