<section class="mt-2 mb-25 pt-20 pb-7 dark:bg-[#161A27] dark:mt-0 dark:mb-0 dark:pb-20 dark:pt-24" id="skills">
  <div class="text-center"> <!--bg-[#161A27] -->
    <h2 class=" font-bold dark:text-white">Skills</h2>
  <span class="text-secondary dark:text-gray-400">My technical skills</span>
  </div>
  <div class=" skills_content lg:w-1/4 sm:w-1/4 md:w-1/3  mx-auto p-5 rounded-xl   shadow-2xl dark:shadow-lg dark:shadow-main mt-12 dark:bg-main">
    <h3 class="skills_title text-center mb-3 dark:text-white">Front end Developer</h3>
    <div class="skills_box flex justify-between  ">
      <div class="skills_group  flex flex-col justify-between items-center ">
        <div class="skills_data flex items-center gap-4">
          <i class="bx bx-badge-check  ms-3 -me-1 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">HTML</h3>
            <span class="text-[#808080] dark:text-gray-800">Advanced</span>
          </div>
        </div>
        <div class="skills__data flex items-center gap-4">
          <i class="bx bx-badge-check mb-6 ms-3 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">CSS</h3>
            <span class="text-[#808080] dark:text-gray-800">Advanced</span>
          </div>
        </div>
        <div class="skills__data flex items-center gap-4">
          <i class="bx bx-badge-check js_skill  ms-7 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">JavaScript</h3>
            <span class="text-[#808080] dark:text-gray-800">Advanced</span>
          </div>
        </div>
        <div class="skills__data flex items-center gap-4 ">
          <i class="bx bx-badge-check  ms-7 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">TypeScript</h3>
            <span class="text-[#808080] dark:text-gray-800">Advanced</span>
          </div>
        </div>
      </div>
      <div class="skills__group  flex flex-col justify-between items-center  mb-0.5">
        <div class="skills__data">
          <i class="bx bx-badge-check ms-3 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">Angular</h3>
            <span class="text-[#808080] dark:text-gray-800">Intermediate</span>
          </div>
        </div>
        <div class="skills__data">
          <i class="bx bx-badge-check ms-1 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">Bootstrap</h3>
            <span class="text-[#808080] dark:text-gray-800">Advanced</span>
          </div>
        </div>
        <div class="skills__data tail_skill ms-5">
          <i class="bx bx-badge-check ps-2 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">Tailwind CSS</h3>
            <span class="text-[#808080] dark:text-gray-800">Intermediate</span>
          </div>
        </div>
        <div class="skills__data git_skill">
          <i class="bx bx-badge-check ms-4 dark:text-white"></i>
          <div>
            <h3 class="skills__name dark:text-white">Git</h3>
            <span class="text-[#808080] dark:text-gray-800">Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
