<section class="mt-2 mb-25 pt-20 pb-7" id="skills">
  <div class="text-center">
    <h2 class=" font-bold ">Skills</h2>
  <span class="text-secondary">My technical skills</span>
  </div>
  <div class=" skills_content lg:w-1/4 sm:w-1/4 md:w-1/3  mx-auto p-5 rounded-xl   shadow-2xl mt-12">
    <h3 class="skills_title text-center mb-4">Front end Developer</h3>
    <div class="skills_box flex justify-between  ">
      <div class="skills_group  flex flex-col justify-between items-center ">
        <div class="skills_data flex items-center gap-4">
          <i class="bx bx-badge-check  ms-3 -me-1"></i>
          <div>
            <h3 class="skills__name">HTML</h3>
            <span class="skills__level">Advanced</span>
          </div>
        </div>
        <div class="skills__data flex items-center gap-4">
          <i class="bx bx-badge-check mb-6 ms-3"></i>
          <div>
            <h3 class="skills__name">CSS</h3>
            <span class="skills__level">Advanced</span>
          </div>
        </div>
        <div class="skills__data flex items-center gap-4">
          <i class="bx bx-badge-check js_skill  ms-7"></i>
          <div>
            <h3 class="skills__name">JavaScript</h3>
            <span class="skills__level">Advanced</span>
          </div>
        </div>
        <div class="skills__data flex items-center gap-4 ">
          <i class="bx bx-badge-check  ms-7"></i>
          <div>
            <h3 class="skills__name">TypeScript</h3>
            <span class="skills__level">Advanced</span>
          </div>
        </div>
      </div>
      <div class="skills__group  flex flex-col justify-between items-center  mb-0.5">
        <div class="skills__data">
          <i class="bx bx-badge-check ms-3"></i>
          <div>
            <h3 class="skills__name">Angular</h3>
            <span class="skills__level">Intermediate</span>
          </div>
        </div>
        <div class="skills__data">
          <i class="bx bx-badge-check ms-1"></i>
          <div>
            <h3 class="skills__name">Bootstrap</h3>
            <span class="skills__level">Advanced</span>
          </div>
        </div>
        <div class="skills__data tail_skill ms-5">
          <i class="bx bx-badge-check ps-2"></i>
          <div>
            <h3 class="skills__name">Tailwind CSS</h3>
            <span class="skills__level">Intermediate</span>
          </div>
        </div>
        <div class="skills__data git_skill">
          <i class="bx bx-badge-check ms-4"></i>
          <div>
            <h3 class="skills__name">Git</h3>
            <span class="skills__level">Intermediate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
