h2 {
  font-size: 2.25rem;
}
span {
  font-size: 0.875rem;
}
i {
  margin-bottom: 22px;
}
.skills__content {
  padding: 45px;
}

.skills__title {
  font-size: 24px;
  margin-bottom: 15px;
}
.skills__box {
  display: flex;
  justify-content: space-between;
}
.skills__group {
  display: flex;
  flex-direction: column;
}
.skills__data {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.skills__name {
  font-weight: bold;
}
.skills__level {
  color: gray;
  /* color: var(--color-main); */
}
.skills_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and ((min-width: 1250px )) {
  .skills_container {
    width: 85%;
  }
}
@media all and ((min-width: 850px ) and (max-width: 1020px)) {
  .skills_container {
    width: 85%;
    flex-direction: column;
  }
  .skills__content {
    width: 50%;
  }
}
@media all and (min-width: 750px) and (max-width: 850px) {
  .skills_container {
    width: 75%;
    flex-direction: column;
  }
  .skills__content {
    width: 65%;
  }
}

@media all and (min-width: 650px) and (max-width: 750px) {
  .skills_container {
    width: 85%;
    flex-direction: column;
  }
  .skills__content {
    width: 65%;
  }
}

@media all and (min-width: 500px) and (max-width: 650px) {
  .skills_container {
    width: 100%;
    flex-direction: column;
  }
  .skills__content {
    width: 75%;
  }
  .sc-front {
    margin-left: -15px;
  }
  .tailwind-icon {
    margin-left: -4px;
  }
}

@media all and (min-width: 350px) and (max-width: 500px) {
  .skills_container {
    width: 90%;
    flex-direction: column;
  }
  .skills__content {
    width: 95%;
  }
  .sc-front {
    margin-left: -15px;
  }
}
@media all and (min-width: 365px) and (max-width: 395px) {
  .skills_group {
    margin-left: -15px;
  }
  .tailwind-icon {
    margin-left: -8px;
  }
}
@media all and (max-width: 360px) {
  .skills_group {
    margin-left: -25px;
  }
  .tailwind-icon {
    margin-left: -8px;
  }
}
