h2{
  font-size: 2.25rem;
}
span{
  font-size: .875rem;
}
i{
  margin-bottom: 22px;
}
.skills__content {
  padding: 20px;

}

.skills__title {
  font-size: 24px;
  margin-bottom: 15px;
}
.skills__box {
  display: flex;
  justify-content: space-between;
}
.skills__group {
  display: flex;
  flex-direction: column;
}
.skills__data {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.skills__name {
  font-weight: bold;
}
.skills__level {
  color: gray;
  /* color: var(--color-main); */
}
.skills_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and ((min-width: 1250px )) {
  .skills_content{
    width: 400px;
  }

}
@media all and ((min-width: 500px ) and (max-width: 1249px)) {
  .skills_content{
    width: 320px;
  }
  .tail_skill i{
    padding: 0px;
  }
  .js_skill{
    margin-left: 26px;
  }
  .git_skill{

    margin-left:4.5px;
  }

}
@media all and (min-width: 550px) and (max-width: 800px) {
    .skills_container{
      background-color: tomato !important;

  }
}
@media all and (min-width: 300px) and (max-width: 450px) {

  .skills_content{
      margin-right: 10px;
      margin-left: 10px;
  }

}
@media all and (max-width: 390px) {
  .skills_content{
    width: 85%;
    margin: auto  !important;
    margin-top: 25px !important;
    padding-right: 35px;
  }
  .skills_box{
    justify-content: center;
  }
  .tail_skill{
    margin-left:8px;
  }
  .skills_title{
    margin-left: 12px;
  }
}
@media all and (min-width:390px) and (max-width: 450px) {
  .skills_content{
    width: 88%;
    margin: auto  !important;
    margin-top: 25px !important;


  }
}
@media all and (min-width:390px) and (max-width: 1020px) {

  .skills_container{
  display: block;
}
}

