@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";
@theme{
  --color-main :#526ECC;
  --color-secondary :#6B7280;
  --color-btn :#5779E0;
  --color-btn-hvr: #5873CE;
  --color-dark: #161A27;
  --font-main:'Poppins', sans-serif;
  /* --color-nav : #1a1a1a; */
}
@layer components{
  .main-btn{
    @apply  mt-6 px-4 py-4 bg-btn text-white rounded shadow-lg hover:bg-main inline-block dark:text-[#161A27];
  }

}
body {
  font-family: 'Poppins', sans-serif;;
}
html {
  scroll-behavior: smooth;
}
